@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,400&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
  font-size: 19px;
}

.text-primary {
  color: #eaad12;
}
.bg-primary-600 {
  background: #b1820d;
}
.bg-primary-800 {
  background: #7a5904;
}

body.dark {
  --ion-color-primary: #428cff;
  --ion-color-primary-rgb: 66, 140, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3a7be0;
  --ion-color-primary-tint: #5598ff;

  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80, 200, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
}

/*
 * iOS Dark Theme
 * -------------------------------------------
 */

.ios body.dark {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #0d0d0d;

  --ion-item-background: #000000;

  --ion-card-background: #1c1c1d;
}

/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

.md body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1e1e1e;

  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #1f1f1f;

  --ion-card-background: #1e1e1e;
}

.task-description {
  font-size: 0.92em;
  color: #333;
}
.dark .task-description {
  color: #d4d4d4;
}
.task-description h1 {
  font-size: 1.4em;
}
.task-description p {
  margin: 1em 0;
}
.output {
  display: block;
  background: #d5dbe6;
  color: #222;
  padding: 0.4em 0.6em;
  border-radius: 5px;
  font-family: 'Droid Sans Mono', monospace, monospace, 'Droid Sans Fallback';
  font-size: 16px;
}
.dark .output {
  background: #1a202c;
  color: #d4d4d4;
}
.output .user-input {
  background-color: #aecdfa;
}
.dark .output .user-input {
  background-color: #2a4365;
}
.user-input {
  background-color: #aecdfa;
  padding: 0.2em 0.4em;
  border-radius: 5px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15) inset;
  font-family: 'Droid Sans Mono', monospace, monospace, 'Droid Sans Fallback';
  font-size: 16px;
}
.dark .user-input {
  background-color: #2a4365;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3) inset;
}
.user-input-line::after {
  content: 'Enter⏎';
}
.user-input-line::after,
.keystroke {
  display: inline-block;
  content: 'Enter⏎';
  background: #c2cfdf;
  color: rgb(36, 36, 36);
  padding: 0.1em 0.4em;
  margin-left: 0.5em;
  font-family: sans-serif;
  font-size: 70%;
  border-radius: 3px;
  vertical-align: middle;
  box-shadow: -1px -2px 1px rgba(0, 0, 0, 0.5) inset;
}
.dark .user-input-line::after,
.dark .keystroke {
  background: #a0aec0;
}

.dark .dark\:text-white {
  color: white;
}
.dark .dark\:bg-gray-500 {
  background-color: #a0aec0;
}
.dark .dark\:bg-gray-700 {
  background-color: #4a5568;
}
.dark .dark\:bg-gray-800 {
  background-color: #2d3748;
}
.dark .dark\:bg-gray-900 {
  background-color: #1a202c;
}
.bg-silver-100 {
  background-color: #eee;
}
.bg-silver-200 {
  background-color: #ddd;
}
.bg-silver-300 {
  background-color: #ccc;
}
.dark .dark\:placeholder-silver-400::placeholder {
  color: #888;
}
.dark .dark\:bg-silver-600 {
  background-color: #3e3e3e;
}
.dark .dark\:bg-silver-700 {
  background-color: #333;
}
.dark .dark\:bg-silver-800 {
  background-color: #2e2e2e;
}
.dark .dark\:bg-silver-900 {
  background-color: #1e1e1e;
}
.dark .dark\:bg-transparent {
  background-color: transparent;
}
.dark .dark\:shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.dark .dark\:bg-yellow-300 {
  background-color: #faf089;
}
.dark .dark\:bg-orange-500 {
  background-color: #ed8936;
}
.dark .dark\:bg-orange-600 {
  background-color: #dd6b20;
}
.text-silver-800,
.dark .dark\:text-silver-800 {
  color: #2e2e2e;
}
